.req-info {
  padding: 30px 40px;
  color: #666666;
  font-weight: 600;
}

.req-container {
  align-items: center;
  display: flex;
  background-color: transparent;
  gap: 20px; /* Reduced gap */
  margin-bottom: 20px;
}

.req-label {
  width: 120px; /* Adjusted width */
  text-align: right; /* Align text to the right */
  color: #585858;
  font-weight: 600;
  margin-left: 5%;
}

.req-input {
  border: 1.5px solid #003480;
  color: #003480;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  width: 70%;
}

.req-transparent {
  background-color: transparent;
}

.req-line-access {
  margin-left: 70px;
  margin-top: 20px;
  height: 1.5px;
  width: 83%;
  background-color: #ccc;
}

.req-features {
  color: #003480;
  font-weight: 650;
  font-size: 20px;
  padding: 30px 80px;
}

.feature-container {
  background-color: white;
  border: 1px solid black;
  width: 86%;
  margin-left: 3%;
}

.form-title {
  background-color: white;
  width: 80%;
  margin-left: 10%;
}

.box {
  background-color: white;
  border: 1px solid black;
}

.req-access-feature-container {
  background-color: transparent;
  width: 82%;
  border: 1.5px solid #003480;
  padding: 20px 10px;
  border-radius: 10px;
  margin-left: 80px;
}

.req-container-name {
  font-size: 25px;
  color: #003480;
  font-weight: 600;
}

.req-access-select-all-container {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.req-access-select-all-container * {
  background-color: transparent;
}

.req-access-select-all-container-name {
  color: #003480;
  font-size: 14px;
  display: flex;
  gap: 10px;
}

.req-description {
  color: #003480;
  font-weight: 650;
  font-size: 20px;
  padding: 30px 80px;
}

.description-box {
  background-color: transparent;
  width: 82%;
  height: 300px;
  border: 1.5px solid #003480;
  padding: 20px 10px;
  border-radius: 10px;
  margin-left: 80px;
}

.cancel-btn {
  border: 1px solid black;
  margin-left: 65%;
  margin-top: 2%;
  padding: 10px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 10%;
  font-size: 18px;
}

.send-btn {
  color: white;
  background-color: #003480;
  border: 1px solid black;
  padding: 10px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 20px;
  width: 10%;
  font-size: 18px;
}
