.faq {
    /* border: 1px solid black; */
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 700;
    color: #003480;
    border-bottom:3px solid #003480 ;
    width: max-content;
  }

  .faq-line{
    margin-left: 60px;
    margin-top: 10px;
    height: 1px;
    width: 90%;
    background-color: #ccc;
  }
  
  /* .faq-container {
    background-color: white;
    margin-left: 10%;
    margin-top: 4%;
    padding: 30px 30px;
    width: 75%;
    border-radius: 10px;
} */
  
.faq-list {
    width: 75%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
}
  
.faq-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
}
  
.question {
    background-color: white;
    padding: 20px 20px;
    color: #003480;
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
  
.answer {
    display: flex;
    padding: 20px;
    background-color: white;
}

.arrow {
    display: flex;
    background-color: white;
    color: darkgrey;
}

.arrow.expanded {
    display: flex;
    transform: rotate(180deg);
    background-color: transparent;
}
  