.nav{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.nav1{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 28.78px;
    font-weight: 500;
}
  
.nav-item {
    font-size: 20px;
    color: grey;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.nav-item:hover {
    color: rgb(13, 10, 181);
    font-weight: 600;
    text-decoration: underline;
}

.nav-search {
    gap:5%;
    width: 50%;
    display: flex;
    align-items: center;
}

.search{
    padding: 10px;
    border: 1px solid black;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    display:flex;
    align-items: center;
    gap:10px;
}
.search > input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn{
    background: #003480;
    color: white;
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-weight: 550;
}    

@media(max-width:900px){
    .nav{
        flex-direction: column;
    }
    .nav1{
       width: 100%;
    }
   .nav-search {
        width: 100%;
    }
    .nav-item {
        font-size: 15px;
        color: grey;
        cursor: pointer;
        transition: color 0.1s ease-in-out;
    }
}

@media(max-width:600px){
    .nav-item {
        font-size: 15px;
    }
    .nav1{
        padding: 10px;
    }
    .search{
        padding: 5px;
    }
    .btn{
        padding: 8px 15px;
    }   
}

@media(max-width:350px){
   .nav-item {
        font-size: 12px;
}
}